.btn{
    padding: 5px 20px;
    background-color: black;
    border: none;
    margin-top: 10px;
    color: white;
    border-radius: 10px;
}

.btn_primary{
    padding: 5px 20px;
    background-color: gray;
    border: none;
    margin-top: 10px;
    color: white;
    border-radius: 10px;
    opacity: 0.5;
}