
.login_container{
    background-color: rgb(221, 216, 216);
    padding: 20px;
}


.btn_login{
    font-size: 18px;
    padding: 10px ;
    background-color: black;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}